* {
    margin: 0;
    padding: 0;
}


/*start */

.menu {
    position: fixed;
    width: 100%;
    height: 0 !important;
    z-index: 999999;
}

.navbar11 {
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(224, 219, 219, 0);
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 999;
    margin: 0 auto;
}

.nav-item .nav-link {
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0px 10px;
    position: relative;
}

.navbar-brand {
    font-size: 20px;
}

.img-fluid-1 {
    width: 100%;
    height: 500px;
}

.scroll-navbar {
    background-color: black;
    color: black !important;
    transition: 1s;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}


/*end */


/*menu-span*/

#collapsibleNavbar .navbar-nav .nav-item a {
    display: block;
}

#collapsibleNavbar .navbar-nav .nav-item a {
    overflow: hidden;
    position: relative;
}

#collapsibleNavbar .navbar-nav .nav-item span {
    position: absolute;
    display: block;
}

#collapsibleNavbar .navbar-nav .nav-item span {
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, white);
}

#collapsibleNavbar .navbar-nav .nav-item a:hover span {
    left: 0;
    transition: 0.5s;
}


/*end*/

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightslategray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    display: flex;
    align-items: center;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid lightslategray;
}

.products-container i {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.box1 {
    width: 30px;
    margin-right: 40px;
}

.box2 {
    width: 10%;
}