* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*#region Navbar*/

#container1 {
    background-color: cornsilk;
    opacity: 0.9;
}

#container1 a {
    border-left: 1px solid black;
    padding-left: 10px;
}

#container1 a:first-child {
    border-left: none;
}

#collapsibleNavbar .navbar-nav .nav-item a:first-child {
    color: gray;
}

#collapsibleNavbar .navbar-nav .nav-item a:first-child:hover{
    color: white;
}


/*#region SignIn*/

.log {
    -webkit-box-shadow: 1px 0px 13px 20px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 1px 0px 13px 20px rgba(0, 0, 0, 0.68);
    box-shadow: 1px 0px 13px 20px rgba(0, 0, 0, 0.68);
}

.signin {
    padding: 10px 10px;
    margin: 5px;
}

#btnLogin {
    margin-top: 10px;
}

.forgot-password {
    padding-left: 10px;
}

.drop-down {
    width: 800px;
    overflow: hidden;
    padding: 10px;
}

.drop-down p {
    border-bottom: 1px solid greenyellow;
    text-align: center;
    border-radius: 10px;
}

.drop-down .col-xs-4 p a {
    text-decoration: none;
    color: black;
}

.drop-down .col-xs-4 p #mm:hover {
    color: green;
}


/*#endregion SignIn*/

a {
    padding-left: 10px;
    text-decoration: none;
}

@media (max-width: 1100px) {
    .drop-down {
        width: 450px;
    }
    .drop-down #mega-img {
        width: 450px;
    }
    .drop-down .col-md-4 {
        width: 450px;
    }
    .drop-down p a {
        width: 450px;
    }
}


/*#endregion Navbar*/

.carousel-inner img {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.policy-item {
    border: 1px solid black;
    outline: none;
    border: 2px solid blanchedalmond;
    box-shadow: inset 0 0 10px #000000;
}

.policy-item:hover {
    background-color: rgb(211, 207, 207);
}

.product-img {
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    outline-color: aliceblue;
}

@media (max-width: 800px) {
    .jumbotron p {
        font-size: 2px;
    }
}

.card-1 {
    transition: all 0.4s;
    border: 1px solid red;
}

.card-1:hover {
    transform: scale(1.05);
    background-color: wheat;
    box-shadow: inset 0 0 10px #000000;
}

.card {
    position: relative;
    overflow: hidden;
}

.icon {
    transition: all 0.7s;
    position: absolute;
    left: 0%;
    top: 115%;
    color: aliceblue;
    z-index: 1;
}

.icon div {
    border: 1px solid black;
    width: 40px;
    margin-left: 9px;
    background-color: #bebebe;
}

.icon div a {
    color: white;
}

@media (max-width: 800px) {
    .icon div {
        width: 35px;
    }
}

.icon div:hover {
    background-color: green;
}

.card:hover .icon {
    transform: translateY(-100px);
}

.card #img-child {
    transition: all 0.4s;
}

.card:hover #img-child {
    transform: scale(1.3);
}

#shadow {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.card-2 {
    transition: all 0.4s;
    border: 1px solid red;
}

.card-2:hover {
    transform: scale(1.05);
    background-color: wheat;
}

@media (max-width: 600px) {
    #img-save {
        width: 520px;
    }
}

@media (max-width: 300px) {
    #img-save {
        width: 400px;
    }
}

#img-save {
    max-width: 98%;
    height: auto;
}

.let {
    list-style-type: none;
}

.let li a {
    text-decoration: none;
    line-height: 30px;
    color: #bebebe;
}

.let li a:hover {
    color: black;
}

.jumbotron {
    color: black;
}

.img-container {
    box-shadow: inset 0 0 10px #350606;
    border-radius: 20px;
}

.box {
    position: relative;
    overflow: hidden;
    height: 400px;
}

.face::after {
    content: 'click vào xem chi tiết';
    color: #bebebe;
    width: 803px;
    height: 803px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#img-child-2 {
    transition: all 1s;
}

#img-child-2:hover {
    opacity: 0.3;
}

.face i {
    position: absolute;
    transition: all 0.5s;
    top: 400px;
    left: 85px;
}

.box:hover i {
    transform: translateY(-240px);
    color: aliceblue;
}

.box i:hover {
    color: green;
}

@media (max-width:1300px) {
    .face {
        overflow: hidden;
    }
}

.owl-prev {
    zoom: 3;
    position: absolute;
    left: 0px;
    top: 45px;
}

.owl-next {
    zoom: 3;
    position: absolute;
    right: 0px;
    top: 45px;
}

.mem {
    font-size: 20px;
    border: none;
}

.mem a {
    color: wheat;
}

.mem a:hover {
    background-color: aqua;
}

@media (max-width: 1300px) {
    .mem h6 {
        font-size: 5px;
    }
    .mem {
        font-size: 5px;
    }
}

.card-5 {
    transition: all 0.4s;
}

.card-5:hover {
    transform: translateY(-10px)
}